/* zera margens/padding globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* fundo da tela */
body {
  margin: 0;
  background: #020617;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
}

/* ROOT AGORA OCUPA 100% DA LARGURA */
#root {
  width: 100%;
  min-height: 100vh;
}
